<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <ul class="timeline">
                <li>
                    <div class="timeline-badge"><i class="glyphicon glyphicon-briefcase"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h2 class="timeline-title">简介</h2>
                        </div>
                        <div class="timeline-body">
                            <p>
                                北京红吉博远电气有限公司取名于“志在千里 勇于拼搏”意为“博远”，做任何事情不能只有远大的志向，还要不惧前进道路上任何艰难险阻，
                                不退缩，不畏惧，拼搏到底，战胜一切困难的决心和勇气。
                                北京红吉博远电气有限公司专心致力于电力设备自动化终端产品的研发生产，拥有一个专业研发工程师组成的精英团队，他们具有丰富的
                                理论知识，结合专业的产品实践经验，奠定了产品性能卓越，品质可靠，操作方便，安全经济的基础。
                                采用国内外先进的检测设备和专业质量工程严格把关 ，操作员工都是经过系统培训，合格持证上岗方可进行操作，
                                确保产品性能的稳定可靠。“质量第一，服务优质，不断满足客户需求”是我们的服务追求，也是我们为此奋斗的真挚承诺。
                            </p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge danger"><i class="glyphicon glyphicon-heart"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">

                            <h2 class="timeline-title">企业宗旨</h2>

                        </div>
                        <div class="timeline-body">
                            <p>
                                为客户提供优质的产品和服务 为员工创造发展的平台 为社会创造价值
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">

                            <h2 class="timeline-title">企业精神：务实 创新 和谐 发展 </h2>

                        </div>
                        <div class="timeline-body">
                            <p>务实是企业精神的基础，做任何事必须从实际情况出发，
                                不违背事物发展的客观规律，实事求是；做人要脚踏实地，堂堂正正，不空谈 不虚夸 不好高骛远。 做事诚信，做人诚实。
                            </p>
                            <p>
                                创新是企业精神的动力，逆水行舟不进则退，创新是企业前进的动力源泉，没有创新，企业就没有动力 何谈发展？唯有创新，企业才能拥有动力，
                                才能充满活力，创新必须务实，遵守事物发展的客观规律，不拘小节，解放思想。
                            </p>
                            <p>
                                和谐是企业精神的灵魂，只有心往一处想，劲往一处使，才能产生最大合力，允许有不同的声音，允许思想有分歧，
                                一定形成统一的思想口径，决不允许失向，南辕北辙只能白白消耗精力，是前进道路上的绊脚石。
                            </p>
                            <p>
                                发展是企业精神的根本，发展是硬道理，只有发展才能证明正确性，只要凝聚一切正能量，实事求是，务实创新，才能达到共同发展的目的。
                            </p>
                        </div>
                    </div>
                </li>

                <li class="timeline-inverted">
                    <div class="timeline-badge info"><i class="glyphicon glyphicon-envelope"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h2 class="timeline-title">企业愿景</h2>
                        </div>
                        <div class="timeline-body">
                            <p>
                                科技创新 务实发展 引领电力设备的安全运行
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge success"><i class="glyphicon glyphicon-user"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h2 class="timeline-title">人才观</h2>
                        </div>
                        <div class="timeline-body">
                            <p>
                                懂业务 善沟通 敢担当 永进取 顾大局
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
