<div class="section">
    <div class="container">
        <span ng-repeat="(pid,product) in products">
            <div ng-if="$index % 2 === 0" class="clearfix"></div>
            <div class="col-sm-6">
                <div class="portfolio-item">
                    <a href="#/product_details/{{pid}}">
                        <div class="portfolio-image">
                            <img src="{{product.image}}" alt="{{product.name}}">
                        </div>
                    </a>
                    <div class="portfolio-info">
                        <h4 class="portfolio-project-name text-center">{{product.name}}</h4>
                        <ul>
                            <li ng-repeat="main in product.main">{{main}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </span>
    </div>
</div>