<div class="section">
    <div class="container">
        <div class="row service-wrapper-row">
            <div class="col-sm-4">
                <a href="#/product_details/HBY-JKF02">
                    <div class="service-image">
                        <img src="images/HBY-JKF01.png" alt="Color Schemes">
                    </div>
                </a>

            </div>
            <div class="col-sm-8">
                <h3>Color Scheme matching your branding</h3>
                <p>
                    Template comes with five color themes (Blue, Orange, Green, Red and Grey). All you need to do is to use relevant CSS file.
                </p>
                <p>
                    There is no color scheme that matches your branding? No problem.  You can easily compile your own by changing one variable - thanks to LESS!
                </p>
            </div>
        </div>
        <div class="row service-wrapper-row">
            <div class="col-sm-4">
                <div class="service-image">
                    <img src="img/less-logo.png" alt="LESS CSS">
                </div>
            </div>
            <div class="col-sm-8">
                <h3>LESS CSS</h3>
                <p>
                    This template is build taking the advantage of LESS. It makes easier to build your own color schemes.
                </p>
                <p>
                    We are also using lesshat mixins which makes development even more easier. Please check <a href="http://lesshat.com" target="_blank">http://lesshat.com</a> for more information
                </p>
            </div>
        </div>
        <div class="row service-wrapper-row">
            <div class="col-sm-4">
                <div class="service-image">
                    <img src="img/homepage-slider/slide1.png" alt="Responsive">
                </div>
            </div>
            <div class="col-sm-8">
                <h3>Fully Responsive</h3>
                <p>
                    It looks great on desktops, laptops, tablets and smartphones - mPurpose template was built to shine on all devices :)
                </p>
                <p>
                    You can be sure that all the components are responsive.
                </p>
            </div>
        </div>
        <div class="row service-wrapper-row">
            <div class="col-sm-4">
                <div class="service-image">
                    <img src="img/flags.png" alt="Flags">
                </div>
            </div>
            <div class="col-sm-8">
                <h3>Additional Icons - Flags</h3>
                <p>
                    Template comes with 247 flag icons representing most countries in the world
                </p>
            </div>
        </div>
    </div>
</div>