<div class="section">
    <div class="container">
        <div class="row service-wrapper-row" ng-repeat="(pid,product) in products">
            <div class="col-sm-4">
                <a ng-href="#/product_details/{{pid}}">
                    <div class="service-image">
                        <img ng-src="{{product.image}}" alt="{{product.name}}">
                    </div>
                </a>

            </div>
            <div class="col-sm-8">
                <h3>
					<a ng-href="#/product_details/{{pid}}">{{product.name}}</a>
				</h3>
                <p ng-repeat="main in product.main">
                    {{main}}
                </p>
            </div>
        </div>
    </div>
</div>